/* color scheme*/
/* 
	Light pink theme

	dark grey: #7f8c8d;(asbestos)
	light grey: #bdc3c7;
	very light grey: #ecf0f1(clouds);
	
	pink very dark: #F62459;
	pink dark: #DB5A6B;
	pink light: #F47983;
	pink very light: #FFB3A7;

------------------------------------
	
	Dark yellow theme
	
	Very dark grey header: #505050;
	Dark grey body background: #757D75;
	
	yellow very dark: #f1c40f, rgba(241, 196, 15,1.0);
	yellow dark: #FFB61E, rgb(255,182,30);
	yellow light: #F4D03F, rgb(244,208,63);

	yellow very light: #FFFF66, rgb(255,255,102);

*/

* {
	padding: 0;
	margin: 0;
	transition: color 0.3s ease-in-out,
				background-color 0.3s ease-in-out,
				box-shadow 0.3s ease-in-out,
				border 0.3s ease-in-out;
}

body, input, button, h1{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	 box-sizing: border-box;
}

button, input{
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none; /*had to use in chrome*/
}

body, a, button, input{ 
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
}

a {
	text-decoration: none;
}

body.light{
	color: #7f8c8d;
	background-color: #fff;
}

body.dark{
	color: #ecf0f1;
	background-color: #404040;
}

/*-------------------------------------- MAIN WRAPPER AND HEADER --------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/

#header {
	padding: 60px 0;
}

#header h1 a{
	font-weight: 400;
	font-size: 72px;
}
#header h1{
	text-align: center;
}
#header p{
	text-align: center;
}

#content-wrapper{
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 40px;
}

/************* light pink theme *************/
#header.light {
	background-color: #ecf0f1;
}
#header.light a {
	color: #7f8c8d;
}
#header h1 span.pink{
	color: #F47983;
	text-shadow: 0px 0px 4px rgba(246,36,89, 0.6);
}

/************* dark yellow theme *************/

#header.dark {
	background-color: #505050;
	box-shadow: inset  0 -8px 8px -8px #404040;
}

#header.dark a {
	color: #ecf0f1;
}

#header h1 span.yellow{
	color: #FFFF66;
	text-shadow: 0px 0px 6px rgba(255,255,102,0.8);
}

/*------------------------------------------- BUTTONS ---------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

button, a.button{
	border-radius: 5px;
	border:none;
	padding: 5px 10px;
	font-size: 16px;

	-webkit-transition: background-color 0.3s ease-in-out,
    					color 0.3s ease-in-out;
    		transition: background-color 0.3s ease-in-out,
        				color 0.3s ease-in-out;
}

button:active ,a.button:active{
	padding-left: 11px;
	padding-right: 9px;
}

button.control {
	font-size: 14px;
	padding:3px 8px;
	background-color: #ecf0f1;

	-webkit-transition: background-color 0.3s ease-in-out,
						color 0.3s ease-in-out,
						border 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out,
				color 0.3s ease-in-out,
				border 0.3s ease-in-out;
}

/************* light theme *************/

button.control.light{
	color: #7f8c8d;
	border: 1px solid #ecf0f1;
}

button.control.light:hover {
	background-color: #bdc3c7;
	color: #ecf0f1;
	border: 1px solid #bdc3c7;
}

button.control.light:active{
	background-color: #bdc3c7;
}

/************* dark theme *************/

button.control.dark{
	color: #fff;
	background-color: #505050;
	border: 1px solid #757D75;
	padding:3px 8px;
}

button.control.dark:hover {
	background-color: #757D75;
}

button.control.dark:active{
	background-color: #757D75;
}



button.theme, a.button.theme{
	font-weight: 300;
	padding: 6px 12px;
}

/* fix link--> 2px size difference in firefox
   increase top/bottom padding by 1px
*/
@-moz-document url-prefix() { 
  a.button.theme {
     padding: 7px 12px;
  }
}

button.theme:active, a.button.theme:active{
	padding-left: 13px;
	padding-right: 11px;
}

button.theme.big{
	border-radius: 5px;
	font-weight: 400;
	width:120px;
	height: 50px;
	font-size: 24px;
}

	/************** light theme **************/

button.theme.big.light.disabled{
	background-color: #ecf0f1;
}
button.theme.big.light.disabled:hover{
	background-color: #ecf0f1;
}

	/************** dark theme **************/

button.theme.big.dark.disabled{
	background-color: #505050;
	color: #757D75;
}
button.theme.big.dark.disabled:hover{
	background-color: #505050;
}

button.theme.big.disabled:active{
	padding:8px 12px;
}


/************** pink theme **************/

button.pink, a.button.pink{
	background-color: #F47983;
	color:#fff;
}
button.pink:hover, a.button.pink:hover{
	background-color: #DB5A6B;
}
button.pink:active, a.button.pink:active{
	background-color: #F47983;
}

/************** yellow theme **************/

button.yellow, a.button.yellow{
	background-color: #F4D03F;
	color:#505050;
}
button.yellow:hover, a.button.yellow:hover{
	background-color: #FFB61E;
	color:#fff;
}
button.yellow:active, a.button.yellow:active{
	background-color: #F4D03F;
}


/*---------------------------------------------- INPUT FIELDS ----------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------*/

 input[type="text"] {

	height: 50px;
	width: 50%;
	font-size: 24px;
	padding: 0px 40px;
	border-radius: 5px;
}

/*************** light theme ***************/
input.light {
	border: 1px solid #7f8c8d;
	color: #7f8c8d;
}
input.light:focus {
	text-shadow: 0px 0px 2px rgba(127, 140, 141, 0.8);
}

/*************** dark theme ***************/
input.dark {
	border: 1px solid #ecf0f1;
	color: #ecf0f1;
	background-color: #404040;
	cursor: url(yellow_cursor_2.cur), auto;
}
input.dark:focus ,input.dark:hover{
	text-shadow: 0px 0px 2px rgba(241, 196, 15, 0.8);
}


/* fixing inner borders */
 input[type=text]:nth-child(2) {
	
	border-right: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px; 
}

 input[type=text]:nth-child(3) {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px; 
}
 input[type=text].big{
	height: 70px;
	width: 100%;

	font-size: 36px;
	text-align: center;

	border:none;
	border-radius: 0px;
	margin-bottom: 40px;
}

#input-field-controls{
	margin-top: 20px;
	text-align: center;
}

/* ------------------------------ SEARCH INPUT,SEARCH BUTTON AND CHECKBOX ------------------------------------- */
/*---------------------------------------------------------------------------------------------------------------*/

#search-div {
	margin-top: 60px;
	width: 50%;
}
#search-div div.checkbox-div{
	margin-bottom: 10px;
}

#search-div input[type="text"] {
	width: 80%;
	height: 40px;
	border-right: none;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	vertical-align: bottom;
	font-size: 20px;
	padding: 0 20px; 
}

#search-div button {
	width: 20%;
	height: 40px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	font-weight: 400;
	font-size: 18px; 
}

#search-div label{
	cursor: pointer;
	display: inline-block;
	position: relative;  
    padding-left: 30px;  
}

#search-div input[type=checkbox]{
	display: none;
}

#search-div label:before{
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
	border: 2px solid;
	line-height: 20px;
	border-radius: 3px;
}

#search-div input[type=checkbox]:checked + label:before {
	content: "\2713";
	font-size: 20px;
	text-align: center;
	line-height: 20px;
}


/********** the pink theme **********/

input.big.pink{
	color: #F62459;
	border-bottom: 2px solid #F47983;
}

/* apply placeholder color for chrome since */
input.big.pink::-webkit-input-placeholder{
    color: #F62459;
}

input.big.pink:hover,
input.big.pink:focus {
	text-shadow: 0px 0px 1px rgba(246,36,89, 0.7);
}

#search-div input[type=text].pink {
	color: #F47983;
	border-color: #F47983;
	text-shadow: 0px 0px 1px rgba(244,121,131, 0.8);
}

#search-div label.pink:before{
	border-color: #F47983;
}

#search-div input[type=checkbox]:checked + label.pink:before{
	color: #F47983;
}


/*********** dark yellow theme ***********/

input.big.yellow{
	color: #FFFF66;
	border-bottom: 2px solid #FFFF66;
}

/* apply placeholder color for chrome since */
input.big.yellow::-webkit-input-placeholder{
    color: #FFFF66;
}

input.big.yellow:hover,
input.big.yellow:focus {
	text-shadow: 0px 0px 2px rgba(255,255,102, 0.8);
}

#search-div input[type=text].yellow {
	color: #F4D03F;
	border-color: #F4D03F;
}

#search-div input[type=checkbox]:checked + label.yellow:before{
	color: #F4D03F;
}

#search-div label.yellow:before{
	border-color: #F4D03F;
}



/*---------------------------------------------- RESULT DIV ----------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

.hidden{
	height: 0;
	visibility: hidden;
}

#trackTags{
	height: 20px;
	margin-top: 20px;
	padding: 0px 20px;
}

#trackTags span{
	margin-right: 10px;
}

#result{
	margin: 20px 0px 100px 0px; 
}

div.link-div{
	padding: 5px 20px;
	margin-bottom: 10px;
	border-radius: 5px;
}

div.link-div .content a{
	text-decoration: none;
	float: left;
}

div.link-div .content span{
	float: right; 
}
div.link-div span:hover{
	cursor: pointer;
}

div.link-controls-div{
	margin-top: 5px;
}

div.link-controls-div  button.control{
	float: right;
	margin-left: 5px;
}

a.tag{
	margin-right: 5px;
	border-radius: 5px;
	padding: 3px 10px;
	font-size: 14px;

	-webkit-transition: background-color 0.3s ease-in-out,
						color 0.3s ease-in-out;
        	transition: background-color 0.3s ease-in-out,
						color 0.3s ease-in-out;
}

@-moz-document url-prefix() { 
  a.tag {
     padding: 3px 10px 4px 10px;
  }
}

a.tag:hover, a.tag:active, a.tag:focus{
	cursor: pointer;
}

div.link-div .content a, div.link-div .content span{
	-webkit-transition: color 0.2s ease-in-out,
						font-size 0.2s ease-in-out;
        	transition: color 0.2s ease-in-out,
						font-size 0.2s ease-in-out;
}

/********** pink theme **********/

div.link-div.pink{
	background-color: rgba(255,179,167, 0.3);
}

div.link-div.pink a {
	color:#7f8c8d;
}

div.link-div.pink .content a:hover{
	color: #F62459;
	font-size: 19px;
	text-shadow: 0px 0px 1px rgba(246,36,89, 0.5);
}

div.link-div.pink .content span:hover{
	color: #F62459;
	text-shadow: 0px 0px 1px rgba(246,36,89, 0.5);
}

div.link-div.pink a.tag{
	border: 1px solid #FFB3A7;
}

div.link-div.pink a.tag:hover{
	background-color: #FFB3A7;
	color: #fff;
}

#trackTags a.pink {
	color: #fff;
	background-color: #FFB3A7;
	border: 1px solid #FFB3A7;
}

#trackTags a.pink:hover {
	border: 1px solid #F47983;
	color: #7f8c8d;
	background-color: rgba(255,179,167, 0.3);
}


/*********** dark yellow theme ***********/

div.link-div.yellow{
	background-color: rgba(241, 196, 15,0.3);
}

div.link-div.yellow a, div.link-div.yellow .content span{
	color: #fff;
}

div.link-div.yellow .content a:hover{
	color: #FFFF66;
	font-size: 19px;
	text-shadow: 0px 0px 2px rgba(255,255,102, 0.9);
}

div.link-div.yellow .content span:hover{
	color: #FFFF66;
	text-shadow: 0px 0px 2px rgba(255,255,102, 0.9);
}

div.link-div.yellow a.tag{
	border: 1px solid rgba(244,208,63, 0.9);
	color: #fff;
}

div.link-div.yellow a.tag{
	padding: 4px 10px;
}

div.link-div.yellow a.tag:hover{
	background-color: rgba(244,208,63, 0.9);
}

#trackTags a.yellow {
	color: #404040;
	font-weight: 400;
	background-color: rgba(244,208,63, 0.9);
	border: 1px solid rgba(244,208,63, 0.9);
}

#trackTags a.yellow:hover {
	border: 1px solid rgba(244,208,63, 0.9);
	background-color: rgba(241, 196, 15,0.3);
	color :#fff;
}




/*------------------------------------------------ FOOTER ------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
}

#footer .footer-wrapper{
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

#footer button, #footer a.button{
	float: left;
	margin-right: 5px;
}

#footer button:last-of-type{
	float: right;
	margin-right: 0;
}

#log{
	text-align: center;
	font-weight: 400;
	font-size: 20px;
}

/*********** pink theme ***********/

#footer.light {
	background-color: #ecf0f1;
}

#log.pink{
	color: #F62459;
}

/*********** yellow theme ***********/

#footer.dark {
	background-color: rgba(80,80,80, 0.9);
	box-shadow: 0 -5px 5px 0px rgba(241, 196, 15, 0.3);
}

#footer button.theme.yellow, #footer a.button.theme.yellow{
	font-weight: 400;
	/*color: #505050;*/
}

#log.yellow {
	color: #FFFF66;
}

.clearfix1:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

/* to fix font increase animation */
.clearfix2:after{
	content: ".";
	visibility: hidden;
	height: 0;
	clear: right;
	display: block;
}



/*--------------------------------------------- MEDIA QUERIES ---------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 999px){
	#content-wrapper{    
		padding:0 10px;
	}
}

@media screen and (min-width: 801px) and (max-width: 999px){
	#footer{
		padding-left: 10px;
		padding-right: 10px;
	}

	#footer button:last-of-type{
		margin-right: 20px;
	}
}

@media screen and (min-width: 501px) and (max-width: 800px) {
		body, a, button, input {
		font-size: 16px;
	}

	#header {
		padding: 50px 5px;
	}
	#header h1 a {
		font-size: 64px;
	}
	#content-wrapper {
		margin-top: 30px;
		padding:0 10px;
	}

	button, a.button{
		border-radius: 4px;
		font-size: 16px;
	}
	button.control {
		font-size: 14px;
		padding: 3px 8px;
	}
	button.theme, a.button.theme{
		font-weight: 400;
		padding: 4px 10px;
	}

	/* fix link--> 2px size difference in firefox
	   increase top/bottom padding by 1px
	*/
	@-moz-document url-prefix() { 
	  a.button.theme{
	     padding: 5px 10px;
	  }
	}

	button.theme:active, a.button.theme:active{
		padding: 4px 10px;
	}

	@-moz-document url-prefix() { 
		a.button.theme:active {
	     padding: 5px 10px;
	  }
	}

	button.theme.big{
		border-radius: 5px;
		font-weight: 400;
		width: 100px;
		height: 40px;
		font-size: 20px;
	}

	button.theme.big.disabled:active{
		padding: 4px 8px;
	}

	/* ------------------- Inputs Fields(501-800px) ------------------- */

	input[type=text] {
		height: 45px;
		font-size: 18px;
		padding: 0px 12px;
		border-radius: 5px;
		text-align: center;
	}

	/* fixing inner borders */
	 input[type=text]:nth-child(2) {
		border-right: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px; 
	}

	 input[type=text]:nth-child(3) {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px; 
	}

	 input[type=text].big{
		height: 65px;
		width: 100%;
		margin-bottom: 30px;
		font-size: 28px;
		/*border-radius: 0px;*/		
	}
	#input-field-controls{
		margin-top: 15px;
	}

	#search-div {
		margin-top: 40px;
	}

	#search-div input[type="text"] {
		width: 70%;
		height: 35px;
		font-size: 19px;
		padding: 0 10px;
		text-align: left; 
	}

	#search-div button {
		width: 30%;
		height: 35px;
		font-weight: 400; 
	}

	#search-div label{  
	    padding-left: 30px;  
	}

	#search-div label:before{
		width: 18px;
		height: 18px;
		position: absolute;
		line-height: 18px;
	}

	#search-div input[type=checkbox]:checked + label:before {
		font-size: 18px;
		line-height: 18px;
	}

	#trackTags{
		height: auto;
		margin-top: 10px;
		padding: 4px 10px;
		overflow: auto;

	}
	#trackTags span{
		margin-right: 5px;
		font-size: 14px;
		display: block;
		margin-bottom: 5px;
	}
	#result{
		margin: 15px 0px 100px 0px;  
	}
	div.link-div{
		padding: 5px 10px;
		border-radius: 8px;
	}

	div.link-controls-div {
		margin-top: 10px;
	}

	div.link-div .content span {
		font-size: 14px;
	}
	a.tag{
		margin-right: 5px;
		border-radius: 5px;
		padding: 2px 8px;
		font-size: 14px;
	}
	/* fix hovers */
	div.link-div.pink .content a:hover, div.link-div.yellow .content a:hover{
		font-size: 16px;
	}
	 div.link-div .content span:hover{
		font-size: 14px;
	}

	/* to fix multiple same filter tag taps bug */
	div.link-div.pink a.tag:hover {
		background-color: inherit;
		color: #7f8c8d;
	}

	div.link-div.yellow a.tag:hover {
		background-color: inherit;
		color: #fff;
	}

	button.pink:hover, a.button.pink:hover {
		background-color: #F47983;
	}

	button.yellow:hover, a.button.yellow:hover {
		background-color: #F4D03F;
		color: #505050;
	}

	/*----------------- Footer(501-800px) -------------------*/

	#footer{
		padding-left: 10px;
		padding-right: 10px;
		box-shadow: 0 -4px 6px -6px rgba(246,36,89, 1);
	}

	#footer.light {
		background-color: rgba(236,240,241,0.75);
	}

	#footer button, #footer a.button{
		margin-right: 5px;
	}

	#footer button:last-of-type{
		margin-right: 20px;
	}

	#log{
		margin-bottom: 5px;
		font-size: 18px;
	}
}


@media screen and (max-width: 500px) {
	body, a, button, input {
		font-size: 16px;
	}

	#header {
		padding: 40px 5px;
	}
	#header h1 a {
		font-size: 48px;
	}
	#content-wrapper {
		margin-top: 20px;
		padding:0 5px;
	}

	button, a.button{
		border-radius: 3px;
		font-size: 14px;
	}
	button.control {
		font-size: 14px;
		padding: 4px 8px;
	}
	button.theme, a.button.theme{
		font-weight: 400;
		padding: 4px 8px;
	}

	/* fix link--> 2px size difference in firefox
	   increase top/bottom padding by 1px
	*/
	@-moz-document url-prefix() { 
	  a.button.theme{
	     padding: 5px 8px;
	  }
	}

	button.theme:active, a.button.theme:active{
		padding: 4px 8px;
	}

	@-moz-document url-prefix() { 
		a.button.theme:active {
	     padding: 5px 8px;
	  }
	}

	button.theme.big{
		border-radius: 5px;
		font-weight: 400;
		width: 90px;
		height: 40px;
		font-size: 18px;
	}

	button.theme.big.disabled:active{
		padding: 4px 8px;
	}

	/* ------------------- Inputs Fields (500px) ------------------- */

	input[type=text] {
		height: 40px;
		width: 100%;
		font-size: 16px;
		padding: 0px 10px;
		border-radius: 8px;
		margin-bottom: 10px;
		text-align: center;
	}

	/* fixing inner borders */
	 input[type=text]:nth-child(2), input[type=text]:nth-child(3) {
	 	border-radius: 5px;
	 	border: 1px solid #ecf0f1;
	}

	 input[type=text].big{
		height: 60px;
		width: 100%;
		margin-bottom: 20px;
		font-size: 20px;		
	}

	#input-field-controls{
		margin-top: 10px;
	}



	#search-div {
		margin-top: 30px;
		width: 100%;
	}

	#search-div input[type="text"] {
		width: 70%;
		height: 35px;
		font-size: 18px;
		padding: 0 5px;
		text-align: center;
		vertical-align: top; 
	}

	#search-div button {
		width: 30%;
		height: 35px;
		font-weight: 400;
		vertical-align: top; 
	}

	#search-div label{  
	    padding-left: 25px;  
	}

	#search-div label:before{
		width: 16px;
		height: 16px;
		position: absolute;
		line-height: 16px;
	}

	#search-div input[type=checkbox]:checked + label:before {
		font-size: 16px;
		line-height: 16px;
	}

	#trackTags{
		height: auto;
		margin-top: 8px;
		padding: 4px 5px 4px 10px;
		overflow: auto; 
	}
	#trackTags span{
		margin-right: 5px;
		display: block;
		margin-bottom: 5px;
		font-size: 14px;
	}
	#result{
		margin: 20px 0px 80px 0px;
	}
	div.link-div{
		padding: 8px 5px 5px 10px;
		border-radius: 5px;
		padding-bottom: 10px;
	}

	div.link-div .content a{
		float: none;
	}

	div.link-div .content span {
		font-size: 14px;
		display: block;
		float: none;
		padding-top: 10px;
	}

	div.link-controls-div{
		margin-top: 10px;
		padding-top: 2px;
		overflow: auto;
		text-align: center;
	}

	div.link-div div.link-controls-div span {
		display: block;
		text-align: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	div.link-controls-div button.control {
		float: none;
	}

	div.link-controls-div button.control:first-of-type{
		margin-right: 6px;
	}

	div.link-controls-div button.control:last-of-type{
		margin-left: 6px;
	}

	a.tag{
		margin-right: 7px;
		border-radius: 4px;
		padding: 3px 6px;
		font-size: 14px;
	}

	/* fix hovers */
	div.link-div.pink .content a:hover, div.link-div.yellow .content a:hover{
		font-size: 16px;
	}
	div.link-div .content span:hover{
		font-size: 14px;
	}

	/* to fix multiple same filter tag taps bug */

	div.link-div.pink a.tag:hover {
		background-color: inherit;
		color: #7f8c8d;
	}

	button.pink:hover, a.button.pink:hover {
		background-color: #F47983;
	}

	button.yellow:hover, a.button.yellow:hover {
		background-color: #F4D03F;
		color: #505050;
	}

	div.link-div.yellow a.tag:hover {
		background-color: inherit;
		color: #fff;
	}

	/*--------------- Footer (500px) ---------------*/

	#footer{
		padding-left: 5px;
		padding-right: 5px;
		box-shadow: 0 -4px 6px -6px rgba(246,36,89, 1);
	}

	#footer.light {
		background-color: rgba(236,240,241,0.9);
	}

	#footer button, #footer a.button{
		margin-right: 5px;
	}

	#footer button:last-of-type{
		margin-right: 10px;
	}

	#log{
		margin-bottom: 5px;
		font-size: 16px;
	}

	.clearfix1:after{
		content: none;
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}

	.clearfix2:after{
		content: none;
		visibility: hidden;
		height: 0;
		clear: right;
		display: block;
	}

}

@media screen and (max-width: 403px) {
	/* lesser margin-bottom due to weird chrome-android render bug*/
	#result {
		margin: 20px 0px 85px 0px;
	}

	#footer button, #footer a.button{
		float: none;
		margin-right: 5px;
		margin-bottom: 5px;
	}

	#footer button:last-of-type{
		float: none;
	}

}
